<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Chibueze C. Igwe">
    <meta name="description"
        content="This is a compilation of tasks around frontend and backend software development. It ranges from basic to advanced components like JavaScript, Python, SQL, frameworks etc.">
    <meta name="keywords" content="Land Acquisition, Property, RealEstate, Commercial Land">
    <title>Full Stack Dev. Challenge</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="40x40" href="../../Full-Stack-Dev.-Challenge/assets/images/logo.png">
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
        integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <!-- Custom CSS link -->
    <link rel="stylesheet" href="../../assets/css/style.css">

</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- First Navigation Bar -->
        <!-- Menu items -->
        <div class="navbar navbar-expand-md row">
            <ul class="navbar-nav">
                <li class="col nav-item">
                    <button type="button" class="btn about-nav" data-bs-toggle="modal" data-bs-target="#cvModal"
                        data-bs-whatever="scientistigwe@gmail.com"><img src="../../assets/icons/about.svg"
                            alt="About this Challenge" width="20" height="20"> About</button>
                    <div class="modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="cvModalLabel">About this Project</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Thank you for visiting this page. This is......
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="col nav-item first-nav-container">
                    <a class="nav-link" href="https://github.com/scientistigwe" target="_blank">
                        <span class="menu-item-text"><img src="../../assets/icons/github.png" alt="Github logo"
                                width="20" height="20"> Github
                        </span>
                    </a>
                </li>
                <li class="col nav-item first-nav-container">
                    <a class="nav-link" href="https://www.linkedin.com/in/igwe-chibueze-c-47453289/" target="_blank">
                        <span class="menu-item-text"><img src="../../assets/icons/linkedin.png" alt="Linkedin logo"
                                width="20" height="20"> Linkedin
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        <!-- Second Navigation Bar -->
        <nav class="navbar navbar-expand-md second-nav-container">
            <div class="navbar container-fluid">
                <a href="../index.html"><img src="../../assets/images/logo.png" width="250" height="100%"></a>
            </div>
            <!-- NavBar Icon -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-items"
                aria-controls="menu-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menu items -->
            <div class="collapse navbar-collapse" id="menu-items">
                <div class="frontend-backend">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="../../templates/intermediate-js-concepts.html5"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false"><span
                                    class="menu-item-text frontend"><img src="../../assets/icons/frontend.png"
                                        alt="FrontEnd" width="20" height="20">
                                    FrontEnd</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../index.html">
                                        <span class="menu-item-text"><img src="../assets/icons/fundamental.png"
                                                alt="foundations of javascript" width="20" height="20"> Foundations of
                                            JS
                                        </span>
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/intermediate-js-concepts.html"><span
                                            class="menu-item-text"><img src="../assets/icons/intermediate.png"
                                                alt="intermediate-js-concepts" width="20" height="20"> Intermediate JS
                                            Concepts</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/advanced-js.html"><span
                                            class="menu-item-text"><img src="../assets/icons/advanced.png"
                                                alt="advanced-js.html" width="20" height="20">
                                            Advanced JS</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/js-frameworks-libraries.html"><span
                                            class="menu-item-text"><img src="../assets/icons/framework.png"
                                                alt="JS Frameworks & Libraries" width="20" height="20"> JS Frameworks
                                            and Libraries</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/fe-tools-techniques.html"><span
                                            class="menu-item-text"><img src="../assets/icons/tools.png"
                                                alt="tools & techniques" width="20" height="20">
                                            FrontEnd Tools & Techniques</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown backend">
                            <a class="nav-link dropdown-toggle" href="../../templates/be-auth-auth.html" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"><span class="menu-item-text"><img
                                        src="../../assets/icons/backend.png" alt="BackEnd" width="20" height="20">
                                    BackEnd</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../templates/be-auth-auth.html"><span
                                            class="menu-item-text"><img src="../assets/icons/Authentication.png" alt="Authentication &
                                                Authorization page" width="20" height="20"> Authentication &
                                            Authorization</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/be-api-security-testing.html"><span
                                            class="menu-item-text"><img src="../assets/icons/api_icon_129131.png"
                                                alt="API Security and Testing page" width="20" height="20">
                                            API Security and Testing</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/be-ssr-caching.html"><span
                                            class="menu-item-text"><img src="../assets/icons/backend.png"
                                                alt="Server-Side Rendering (SSR) and Caching page" width="20"
                                                height="20">
                                            Server-Side Rendering (SSR) and Caching</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/be-realtime-comm-websocket.html"><span
                                            class="menu-item-text"><img src="../assets/icons/api_icon_129131.png"
                                                alt="Real-Time Communication and WebSockets page" width="20"
                                                height="20">
                                            Real-Time Communication and WebSockets</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <!-- Main Section -->
    <main>
        <section id="foundations-of-javascript">
            <div class="container-fluid">
                <h1 class="category">Javascript Frameworks and Libraries</h1>
                <hr>
                <h2 class="subcategory">A. React Basics</h2>
                <hr>
                <!-- 1. Simple Component Creation -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    1. Simple Component Creation
                                </h5>
                                <p class="card-text">
                                    Simple Component Creation:
                                    Create a functional React component that displays a "Hello, World!" message. Convert
                                    this component into a class component and render both components in the main App
                                    component.

                                    Hint: Use function HelloWorld() { ... } for the functional component and class
                                    HelloWorld extends React.Component { ... } for the class component.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">
                                    <div id="hello-world-container"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 2. State Management in a Component -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class=" card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    2. State Management in a Component
                                </h5>
                                <p class="card-text">
                                    Build a simple counter application using React. Create a component that displays a
                                    counter value and two buttons to increment and decrement the counter. Use the
                                    useState hook to manage the counter state.

                                    Hint: Use const [count, setCount] = useState(0); to manage state in a functional
                                    component."

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 3. Event Handling -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    3. Event Handling
                                </h5>
                                <p class="card-text">
                                    Create a React component with an input field and a button. Implement an event
                                    handler that updates the component's state with the current value of the input field
                                    when the button is clicked. Display the updated value below the input field.
                                    Hint: Use onChange event for the input field and onClick event for the button.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 4. Lifecycle Methods -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class=" card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">
                                    <h6>Message: <span id="message"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    4. Lifecycle Methods
                                </h5>
                                <p class="card-text">
                                    Implement a class component that uses lifecycle methods to log messages to the
                                    console when the component mounts and unmounts. Display a button to toggle the
                                    visibility of this component to trigger mounting and unmounting.

                                    Hint: Use componentDidMount and componentWillUnmount lifecycle methods in the class
                                    component.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 5. Component Communication (Props) -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    5. Component Communication (Props)
                                </h5>
                                <p class="card-text">
                                    Create a parent component that passes data to a child component via props. The child
                                    component should display the data received from the parent. Implement a button in
                                    the parent component that changes the data being passed to the child component.

                                    Hint: Use props to pass data:
                                    <ChildComponent data={this.state.data} /> and access it in the child component with
                                    props.data.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">
                                    <h6>Complete Sentence: <span id="completeSentence"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    <!-- Bootstrap JS Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Font Awesome JS Link -->
    <script src="https://kit.fontawesome.com/01058b62ac.js" crossorigin="anonymous"></script>

    <!-- Custom JS Link -->
    <script src="../../scripts/script.js"></script>
    <!-- React Bundle JS Link -->
    <script src="../../scripts/react-challenge/build/static/js/main.46b68995.js"></script>

</body>