<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Chibueze C. Igwe" />
  <meta name="description"
    content="This is a compilation of tasks around frontend and backend software development. It ranges from basic to advanced components like JavaScript, Python, SQL, frameworks etc." />
  <meta name="keywords" content="Land Acquisition, Property, RealEstate, Commercial Land" />
  <title>Full Stack Dev. Challenge</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="40x40" href="../Full-Stack-Dev.-Challenge/assets/images/logo.png" />
  <!-- Bootstrap CSS link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous" />

  <!-- Leaflets CSS Link -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

  <!-- Custom CSS link -->
  <link rel="stylesheet" href="../../assets/css/style.css" />
</head>

<body>
  <!-- Header Section -->
  <header>
    <!-- First Navigation Bar -->
    <!-- Menu items -->
    <div class="navbar navbar-expand-md row">
      <ul class="navbar-nav">
        <li class="col nav-item">
          <button type="button" class="btn about-nav" data-bs-toggle="modal" data-bs-target="#cvModal"
            data-bs-whatever="scientistigwe@gmail.com">
            <img src="../../assets/icons/about.svg" alt="About this Challenge" width="20" id="about-id" />
            About
          </button>
          <div class="modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="cvModalLabel">
                    About this Project
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Thank you for visiting this page. This is......</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="col nav-item first-nav-container">
          <a class="nav-link" href="https://github.com/scientistigwe" target="_blank">
            <span class="menu-item-text"><img src="../../assets/icons/github.png" alt="Github logo" width="20"
                height="20" />
              Github
            </span>
          </a>
        </li>
        <li class="col nav-item first-nav-container">
          <a class="nav-link" href="https://www.linkedin.com/in/igwe-chibueze-c-47453289/" target="_blank">
            <span class="menu-item-text"><img src="../../assets/icons/linkedin.png" alt="Linkedin logo" width="20"
                height="20" />
              Linkedin
            </span>
          </a>
        </li>
      </ul>
    </div>
    <hr />
    <!-- Second Navigation Bar -->
    <nav class="navbar navbar-expand-md second-nav-container">
      <div class="navbar container-fluid">
        <a href="../index.html"><img src="../../assets/images/logo.png" width="250" height="100%" /></a>
      </div>
      <!-- NavBar Icon -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-items"
        aria-controls="menu-items" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menu items -->
      <div class="collapse navbar-collapse" id="menu-items">
        <div class="frontend-backend">
          <ul class="navbar-nav">
            <!-- FrontEnd Section -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="menu-item-text frontend">
                  <img src="../../assets/icons/frontend.png" alt="FrontEnd" width="20" height="20" />
                  FrontEnd
                </span>
              </a>
              <ul class="dropdown-menu">
                <!-- JavaScript Sub-menu -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="menu-item-text">
                      <img src="../../assets/icons/js-icon.png" alt="JavaScript" width="20" height="20" />
                      JavaScript
                    </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../../index.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/fundamental.png" alt="foundations of javascript" width="20"
                            height="20" />
                          Foundations of JS
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/JavaScript/intermediate-js-concepts.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/intermediate.png" alt="intermediate-js-concepts" width="20"
                            height="20" />
                          Intermediate JS Concepts
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/JavaScript/advanced-js.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/advanced.png" alt="advanced-js.html" width="20" height="20" />
                          Advanced JS
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/JavaScript/js-frameworks-libraries.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/framework.png" alt="JS Frameworks & Libraries" width="20"
                            height="20" />
                          JS Frameworks and Libraries
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/JavaScript/fe-tools-techniques.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/tools.png" alt="tools & techniques" width="20" height="20" />
                          FrontEnd Tools & Techniques
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- HTML Sub-menu -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="menu-item-text">
                      <img src="../../assets/icons/html.png" alt="HTML5" width="20" height="20" />
                      HTML5
                    </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../../Python/foundations.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/fundamental.png" alt="foundations of python" width="20"
                            height="20" />
                          Foundations of HTML5
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../Python/intermediate.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/intermediate.png" alt="intermediate-python" width="20"
                            height="20" />
                          Intermediate HTML5 Concepts
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../Python/advanced.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/advanced.png" alt="advanced-python" width="20" height="20" />
                          Advanced HTML5
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../Python/frameworks-libraries.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/framework.png" alt="Python Frameworks & Libraries" width="20"
                            height="20" />
                          HTML5 Frameworks and Libraries
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../Python/tools-techniques.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/tools.png" alt="tools & techniques" width="20" height="20" />
                          HTML5 Tools & Techniques
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- CSS Sub-menu -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="menu-item-text">
                      <img src="../../assets/icons/css..png" alt="CSS" width="20" height="20" />
                      CSS
                    </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../../SQL/foundations.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/fundamental.png" alt="foundations of CSS" width="20"
                            height="20" />
                          Foundations of CSS
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../SQL/intermediate.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/intermediate.png" alt="intermediate-CSS" width="20"
                            height="20" />
                          Intermediate CSS Concepts
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../SQL/advanced.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/advanced.png" alt="advanced-CSS" width="20" height="20" />
                          Advanced CSS
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../Python/frameworks-libraries.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/framework.png" alt="Python Frameworks & Libraries" width="20"
                            height="20" />
                          CSS Frameworks and Libraries
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../SQL/tools-techniques.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/tools.png" alt="tools & techniques" width="20" height="20" />
                          CSS Tools & Techniques
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- BackEnd Section -->
            <li class="nav-item dropdown backend">
              <a class="nav-link dropdown-toggle" href="../../templates/be-auth-auth.html" role="button"
                data-bs-toggle="dropdown" aria-expanded="false"><span class="menu-item-text"><img
                    src="../../assets/icons/backend.png" alt="BackEnd" width="20" height="20" />
                  BackEnd</span>
              </a>
              <ul class="dropdown-menu">
                <!-- JavaScript Sub-menu -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="menu-item-text">
                      <img src="../../assets/icons/js-icon.png" alt="JavaScript" width="20" height="20" />
                      JavaScript
                    </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../../templates/be-auth-auth.html"><span
                          class="menu-item-text"><img src="../../assets/icons/Authentication.png" alt="Authentication &
                                                        Authorization page" width="20" height="20" />
                          Authentication & Authorization</span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/be-api-security-testing.html"><span
                          class="menu-item-text"><img src="../../assets/icons/api_icon_129131.png"
                            alt="API Security and Testing page" width="20" height="20" />
                          API Security and Testing</span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/be-ssr-caching.html"><span
                          class="menu-item-text"><img src="../../assets/icons/backend.png"
                            alt="Server-Side Rendering (SSR) and Caching page" width="20" height="20" />
                          Server-Side Rendering (SSR) and Caching</span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/be-realtime-comm-websocket.html"><span
                          class="menu-item-text"><img src="../../assets/icons/api_icon_129131.png"
                            alt="Real-Time Communication and WebSockets page" width="20" height="20" />
                          Real-Time Communication and WebSockets</span></a>
                    </li>
                  </ul>
                </li>
                <!-- Python Sub-menu -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="menu-item-text">
                      <img src="../../assets/icons/python.png" alt="Python" width="20" height="20" />
                      Python
                    </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../../templates/python/core-python.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/python.png" alt="Core Python" width="20" height="20" />
                          Core Python
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/python/intermediate.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/intermediate.png" alt="intermediate-python" width="20"
                            height="20" />
                          Intermediate Python Concepts
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/python/advanced.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/advanced.png" alt="advanced-python" width="20" height="20" />
                          Advanced Python
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/python/frameworks-libraries.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/framework.png" alt="Python Frameworks & Libraries" width="20"
                            height="20" />
                          Python Frameworks and Libraries
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../../templates/python/tools-techniques.html">
                        <span class="menu-item-text">
                          <img src="../../assets/icons/tools.png" alt="tools & techniques" width="20" height="20" />
                          Python Tools & Techniques
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- SQL Sub-menu -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="menu-item-text">
                      <img src="./assets/icons/postgresql.png" alt="SQL" width="20" height="20" />
                      SQL
                    </span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="./SQL/foundations.html">
                        <span class="menu-item-text">
                          <img src="./assets/icons/fundamental.png" alt="foundations of sql" width="20" height="20" />
                          Foundations of SQL
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="./SQL/intermediate.html">
                        <span class="menu-item-text">
                          <img src="./assets/icons/intermediate.png" alt="intermediate-sql" width="20" height="20" />
                          Intermediate SQL Concepts
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="./SQL/advanced.html">
                        <span class="menu-item-text">
                          <img src="./assets/icons/advanced.png" alt="advanced-sql" width="20" height="20" />
                          Advanced SQL
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="./SQL/tools-techniques.html">
                        <span class="menu-item-text">
                          <img src="./assets/icons/tools.png" alt="tools & techniques" width="20" height="20" />
                          SQL Tools & Techniques
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main Section -->
  <main>
    <section id="foundations-of-javascript">
      <div class="container-fluid">
        <h1 class="category">Data Science</h1>
        <hr />
        <h2 class="subcategory">A. Higher-Order Functions</h2>
        <!-- 1. Keyword Trend Analysis in CNN Articles -->
        <div class="row">
          <div class="col-md-7">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  1. Keyword Trend Analysis in CNN Articles
                </h5>
                <p class="card-text">
                  <strong>Case Scenario:</strong>
                  <br />
                  As a data scientist working for a research organization that
                  analyzes large collections of CNN articles. The organization
                  is interested in identifying and tracking the occurrence of
                  specific keywords or phrases within these articles to
                  understand trends, common topics, and emerging news themes.
                  <!-- Button trigger modal -->
                </p>

                <p style="text-align: center">
                  <button type="button" class="btn btn-primary justify-content-center" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop2">
                    Click for detailed instructions
                  </button>
                </p>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                          Scenario: Keyword Trend Analysis in CNN Articles
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <section>
                          <h4>
                            Scenario: Keyword Trend Analysis in CNN Articles
                          </h4>
                          <br />
                          <p>
                            As a data scientist working for a research
                            organization that analyzes large collections of
                            CNN articles. The organization is interested in
                            identifying and tracking the occurrence of
                            specific keywords or phrases within these articles
                            to understand trends, common topics, and emerging
                            news themes.
                          </p>
                          <p>
                            For this task, you have been given a predefined
                            set of keywords related to current events and
                            emerging trends, including: "climate change"
                            "pandemic" "election" "artificial intelligence"
                            "economy" "technology" "healthcare"
                          </p>
                          <p>
                            Your organization has provided a dataset of CNN
                            articles stored in a directory. Each row of the
                            CSV file is an entity of an article with columns
                            for Title, Description, Body, Keywords, Theme, and
                            Link. You need to implement a high-performance
                            string matching algorithm to efficiently search
                            through this large text corpus and provide
                            detailed reports on where these keywords appear.
                          </p>
                        </section>
                        <section>
                          <h4>Task</h4>
                          <p>
                            Your task is to develop a Python script that
                            performs the following steps:
                          </p>

                          <ol>
                            <li>Load a dataset of CNN articles.</li>

                            <li>
                              Construct an efficient string matching automaton
                              using the flashtext algorithm with a predefined
                              set of keywords.
                            </li>

                            <li>
                              Search the text corpus using the automaton to
                              find all occurrences of the keywords.
                            </li>

                            <li>
                              Record the occurrences of each keyword,
                              including their positions and the articles in
                              which they appear.
                            </li>

                            <li>
                              Generate a report that summarizes the findings,
                              listing each keyword, its frequency, and the
                              context around each occurrence.
                            </li>
                          </ol>
                        </section>
                        <section>
                          <h4>Expected Outcome</h4>
                          <p>
                            A Python script that loads articles from a
                            directory, constructs an keyword_processor with
                            specified keywords, searches the articles for
                            these keywords, and outputs a detailed report.
                          </p>
                          <p>
                            The report should list each keyword, the number of
                            times it was found, and the positions and context
                            within the articles.
                          </p>
                        </section>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                          Understood
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/apps/data_manipulation.py"
                    target="_blank">python</a>
                  and
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/templates/Python/data-manipulation.html"
                    target="_blank">html</a>
                  files for solution)
                </h5>
                <canvas class="card-text" id="trend-analysis-chart" width="400" height="300">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- 2. File I/O System -->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                    target="_blank">script.js</a>
                  for details)
                </h5>
                <div class="card-text"></div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">2. File I/O (Input/Output) System</h5>
                <p class="card-text">
                  <strong>Case Scenario: Big Data Analytics for Retail
                    Company</strong>
                  <br />
                  A large retail company wants to implement a system to
                  analyze their sales data from multiple stores in real-time.
                  The sales data is extremely large and needs to be processed
                  efficiently to gain insights quickly. The company aims to
                  optimize their inventory management and enhance customer
                  satisfaction by analyzing purchase patterns and trends.
                </p>
                <!-- Button trigger modal -->
                <p style="text-align: center">
                  <button type="button" class="btn btn-primary justify-content-center" data-bs-toggle="modal"
                    data-bs-target="#fileInputOut">
                    Click for detailed instructions
                  </button>
                </p>

                <!-- Modal -->
                <div class="modal fade" id="fileInputOut" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                          Case Scenario: Big Data Analytics for Retail Company
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <section>
                          <h4>
                            Case Scenario: Big Data Analytics for Retail
                            Company
                          </h4>
                          <br />
                          <p>
                            A large retail company wants to implement a system
                            to analyze their sales data from multiple stores
                            in real-time. The sales data is extremely large
                            and needs to be processed efficiently to gain
                            insights quickly. The company aims to optimize
                            their inventory management and enhance customer
                            satisfaction by analyzing purchase patterns and
                            trends.
                          </p>
                        </section>
                        <section>
                          <h4>Task</h4>
                          <p>
                            Implement a distributed file I/O system for
                            parallel processing of large datasets to support
                            real-time analytics for the retail company.
                          </p>

                          <p>
                            Data Ingestion: The system should ingest sales
                            data from multiple stores into a distributed file
                            system (HDFS).
                          </p>
                          <p>
                            Data Processing: Use parallel processing to
                            process the ingested data in real-time, extracting
                            useful insights such as sales trends, popular
                            products, and inventory needs.
                          </p>
                          <p>
                            Data Analysis: Perform analytics on the processed
                            data to produce reports and dashboards that can be
                            used by management for decision-making.
                          </p>
                        </section>
                        <section>
                          <h4>Expected Outcome</h4>
                          <p>
                            Efficient Data Ingestion: The system should be
                            capable of ingesting large volumes of sales data
                            from multiple stores in real-time.
                          </p>

                          <p>
                            Actionable Insights: The system should provide
                            actionable insights such as trends in sales,
                            inventory requirements, and customer preferences.
                          </p>
                          <p>
                            Scalability: The system should be scalable to
                            handle increasing data volumes as the company
                            grows.
                          </p>
                          <p>
                            Fast Processing: Parallel processing should enable
                            quick analysis of the ingested data.
                          </p>
                        </section>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                          Understood
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- 3. Set Operations with Higher-Order Functions -->
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  3. Set Operations with Higher-Order Functions
                </h5>
                <p class="card-text">
                  Define higher-order functions in JavaScript that operate on
                  arrays. Implement takeWhile and dropWhile functions that
                  manipulate arrays based on a predicate. Provide examples
                  demonstrating how these functions can be used to filter
                  elements from an array according to a condition.
                  Additionally, perform the following tasks: Check if it's
                  raining OR sunny and store the result in a variable
                  isRainingOrSunny. Negate the value of isRainingOrSunny and
                  store the result in a variable notRaining. Display the
                  values of isRainingOrSunny, notRaining, and
                  isRainingAndSunny.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                    target="_blank">script.js</a>
                  for details)
                </h5>
                <div class="card-text"></div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- 4. Ordered Lists and Comparison -->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                    target="_blank">script.js</a>
                  for details)
                </h5>
                <div class="card-text">
                  <h6>Message: <span id="message"></span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">4. Ordered Lists and Comparison</h5>
                <p class="card-text">
                  Ordered Lists and Comparison Question: Develop a
                  higher-order function in JavaScript called orderedBy, which
                  takes a comparison function as input and returns a predicate
                  function. This predicate should check whether a given array
                  is totally ordered according to the comparison function.
                  Include examples showing how orderedBy can be used with
                  different comparison functions to validate the ordering of
                  arrays.
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- 5. Utilizing Classic Higher-Order Functions -->
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  5. Utilizing Classic Higher-Order Functions
                </h5>
                <p class="card-text">
                  Question: Without using recursion or case analysis in your
                  definitions, create functions in JavaScript that utilize
                  map, curry, reduce (equivalent to foldl), and reduceRight
                  (equivalent to foldr). These functions should operate on
                  non-empty arrays to find the maximum, sum, and product of
                  integer elements within the array. Ensure your
                  implementations correctly handle non-empty arrays and
                  produce scalar results.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                    target="_blank">script.js</a>
                  for details)
                </h5>
                <div class="card-text"></div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <h2 class="subcategory">
          B. Data Visualization Techniques (creating informative charts and
          graphs)
        </h2>
        <hr />
        <!-- 1. Environmental Monitoring System <-->
        <div class="row mt-5">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">1. Environmental Monitoring System</h5>
                <p class="card-text">
                  Real-World Case Scenario:
                  <br />
                  A smart home technology company is developing a system to
                  monitor and manage the living conditions within homes
                  equipped with IoT devices. These devices measure various
                  environmental factors such as temperature (temp), humidity,
                  light intensity, presence of motion, smoke detection, and
                  gas leaks (like LPG). The company aims to leverage these
                  measurements to optimize energy usage, enhance comfort, and
                  ensure safety. However, managing and interpreting the vast
                  amounts of data generated by these sensors requires
                  sophisticated data visualization techniques.
                </p>
                <!-- Button trigger modal -->
                <p style="text-align: center">
                  <button type="button" class="btn btn-primary justify-content-center" data-bs-toggle="modal"
                    data-bs-target="#envriomental-monitoring-system">
                    Click for detailed instructions
                  </button>
                </p>

                <!-- Modal -->
                <div class="modal fade" id="envriomental-monitoring-system" data-bs-backdrop="static"
                  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                          Case Scenario: Environmental Monitoring System
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <section>
                          <h4>
                            Case Scenario: Environmental Monitoring System
                          </h4>
                          <br />
                          <p>
                            A smart home technology company is developing a
                            system to monitor and manage the living conditions
                            within homes equipped with IoT devices. These
                            devices measure various environmental factors such
                            as temperature (temp), humidity, light intensity,
                            presence of motion, smoke detection, and gas leaks
                            (like LPG). The company aims to leverage these
                            measurements to optimize energy usage, enhance
                            comfort, and ensure safety. However, managing and
                            interpreting the vast amounts of data generated by
                            these sensors requires sophisticated data
                            visualization techniques.
                          </p>
                        </section>
                        <section>
                          <h4>Objective:</h4>
                          <p>
                            The company intends to use Python and Chart.js to
                            create a distributed data visualization framework
                            that allows homeowners and technicians to view and
                            interact with the sensor data in real-time. The
                            goal is to provide clear insights into the current
                            state of the home environment, detect anomalies
                            early, and adjust settings automatically or
                            suggest actions based on the data.
                          </p>
                          <h4>Task</h4>
                          <p>
                            <strong>Data Collection and Preparation:</strong>
                            Preprocess the data to ensure accuracy and
                            consistency, addressing issues such as missing
                            values and duplicates.
                          </p>

                          <p>
                            <strong>Backend Development (Python):</strong>
                            <br />Set up a Django backend to serve the air
                            quality data through RESTful APIs. <br />Implement
                            logic to aggregate and filter data based on device
                            ID, timestamp, and other criteria.
                          </p>
                          <p>
                            <strong>Frontend Development
                              (HTML/CSS/JavaScript):</strong>
                            <br />Design a responsive web interface using
                            HTML, CSS, and JavaScript. <br />Integrate
                            Chart.js to display interactive charts and graphs
                            that allow users to explore the data dynamically.
                          </p>
                          <p>
                            <strong>Chart Design and Implementation:</strong>
                            <br />Utilize Chart.js to generate various chart
                            types, such as line charts for temperature and
                            humidity trends over time, bar charts for
                            comparing light intensity across rooms, and heat
                            maps for detecting high-motion activity zones.
                            <br />Customize the charts with relevant labels,
                            colors, tooltips, and interactivity features to
                            enhance readability and usability.
                          </p>
                        </section>
                        <section>
                          <h4>Expected Outcome</h4>
                          <p>
                            By deploying this smart home environment
                            monitoring system, the company will empower
                            homeowners with real-time insights into their
                            living environments. Technicians will also benefit
                            from easy access to historical data for
                            troubleshooting and optimization purposes. This
                            system not only enhances the user experience but
                            also contributes to energy conservation and safety
                            improvements in smart homes.
                          </p>
                          <p>
                            <strong>About Dataset</strong>
                            This task will use an open-source Hourly Air
                            Quality data from the Automatic Urban and Rural
                            Network for the years 2015-2023 (Oct) (see
                            <a
                              href="https://www.kaggle.com/datasets/airqualityanthony/uk-defra-aurn-air-quality-data-2015-2023">Kaggle
                              Repo</a>). The data covers several pollutants including
                            Carbon Monoxide, Nitrogen Oxides, Nitrogen
                            Dioxide, Nitric Oxide, Ozone, and Sulphur Dioxide.
                            It also includes meteorological data for each
                            hourly measurement, and also geospatial
                            coordinates. The data includes monitoring from all
                            AURN stations.
                          </p>
                        </section>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                          Understood
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Site Filter -->
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <label for="site-filter">Select Site:</label>
                <select id="site-filter" class="form-control">
                  <option value="Belfast Centre">Belfast Centre</option>
                  <option value="Cardiff Centre">Cardiff Centre</option>
                  <option value="Edinburgh St Leonards">Edinburgh St Leonards</option>
                  <option value="Leeds Centre">Leeds Centre</option>
                  <option value="London Marylebone Road">London Marylebone Road</option>
                  <option value="London N. Kensington">London N. Kensington</option>
                  <option value="Port Talbot Margam">Port Talbot Margam</option>
                </select>
              </div>
            </div>
            <!-- Pollution Source Chart -->
            <div class="col-md-12">
              <canvas id="pollution-source-chart"></canvas>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <!-- Air Quality Chart -->
          <div class="col-md-6">
            <canvas id="air-quality-chart"></canvas>
          </div>
          <!-- Temporal Trends Chart -->
          <div class="col-md-6">
            <div class="col-md-12">
              <canvas id="temporal-trends-chart"></canvas>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <!-- Environmental Impact Chart -->
          <div class="col-md-5">
            <div class="col-md-12">
              <canvas id="environmental-impact-chart"></canvas>
            </div>
          </div>
          <!-- Spatial Analysis Chart -->
          <div class="col-md-7">
            <div id="spatial-analysis-map" style="height: 500px;"></div>
            <!--<canvas id="spatial-analysis-chart"></canvas> -->
          </div>
        </div>

        <hr />

        <!-- 2. Filtering Array Elements with .filter() -->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                    target="_blank">script.js</a>
                  for details)
                </h5>
                <div class="card-text"></div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  2. Filtering Array Elements with .filter()
                </h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>

        <hr />
        <!-- 3. Accumulating Array Elements with .reduce() -->
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  3. Accumulating Array Elements with .reduce()
                </h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                    target="_blank">script.js</a>
                  for details)
                </h5>
                <div class="card-text"></div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- 4. Iterating Over Array Elements with .forEach() -->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                    target="_blank">script.js</a>
                  for details)
                </h5>
                <div class="card-text"></div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  4. Iterating Over Array Elements with .forEach()
                </h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- 5. Custom Sorting with .sort() -->
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">5. Custom Sorting with .sort()</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Output (See
                  <a href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                    target="_blank">script.js</a>
                  for details)
                </h5>
                <div class="card-text"></div>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </section>
  </main>
  <footer></footer>
  <!-- Bootstrap JS Link -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Chart.js Link -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Leaflets .js Link -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <!-- Font Awesome JS Link -->
  <script src="https://kit.fontawesome.com/01058b62ac.js" crossorigin="anonymous"></script>

  <!-- Custom JS Link -->
  <script src="../../scripts/data-science.js"></script>
</body>

</html>