<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Chibueze C. Igwe">
    <meta name="description"
        content="This is a compilation of tasks around frontend and backend software development. It ranges from basic to advanced components like JavaScript, Python, SQL, frameworks etc.">
    <meta name="keywords" content="Land Acquisition, Property, RealEstate, Commercial Land">
    <title>Full Stack Dev. Challenge</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="40x40" href="../Full-Stack-Dev.-Challenge/assets/images/logo.png">
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
        integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <!-- Custom CSS link -->
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- First Navigation Bar -->
        <!-- Menu items -->
        <div class="navbar navbar-expand-md row ">
            <ul class="navbar-nav">
                <li class="col nav-item">
                    <button type="button" class="btn about-nav" data-bs-toggle="modal" data-bs-target="#cvModal"
                        data-bs-whatever="scientistigwe@gmail.com"><img src="../assets/icons/about.svg"
                            alt="About this Challenge" width="20" height="20"> About</button>
                    <div class="modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="cvModalLabel">About this Project</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Thank you for visiting this page. This is......
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="col nav-item first-nav-container">
                    <a class="nav-link" href="https://github.com/scientistigwe" target="_blank">
                        <span class="menu-item-text"><img src="../assets/icons/github.png" alt="Github logo" width="20"
                                height="20"> Github
                        </span>
                    </a>
                </li>
                <li class="col nav-item first-nav-container">
                    <a class="nav-link" href="https://www.linkedin.com/in/igwe-chibueze-c-47453289/" target="_blank">
                        <span class="menu-item-text"><img src="../assets/icons/linkedin.png" alt="Linkedin logo"
                                width="20" height="20"> Linkedin
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        <!-- Second Navigation Bar -->
        <nav class="navbar navbar-expand-md second-nav-container">
            <div class="navbar container-fluid">
                <a href="../index.html"><img src="../assets/images/logo.png" width="250" height="100%"></a>
            </div>
            <!-- NavBar Icon -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-items"
                aria-controls="menu-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menu items -->
            <div class="collapse navbar-collapse" id="menu-items">
                <div class="frontend-backend">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="../templates/intermediate-js-concepts.html5"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false"><span
                                    class="menu-item-text frontend"><img src="../assets/icons/frontend.png"
                                        alt="FrontEnd" width="20" height="20">
                                    FrontEnd</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../index.html">
                                        <span class="menu-item-text"><img src="../assets/icons/fundamental.png"
                                                alt="foundations of javascript" width="20" height="20"> Foundations of
                                            JS
                                        </span>
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/intermediate-js-concepts.html"><span
                                            class="menu-item-text"><img src="../assets/icons/intermediate.png"
                                                alt="intermediate-js-concepts" width="20" height="20"> Intermediate JS
                                            Concepts</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/advanced-js.html"><span
                                            class="menu-item-text"><img src="../assets/icons/advanced.png"
                                                alt="advanced-js.html" width="20" height="20">
                                            Advanced JS</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/js-frameworks-libraries.html"><span
                                            class="menu-item-text"><img src="../assets/icons/framework.png"
                                                alt="JS Frameworks & Libraries" width="20" height="20"> JS Frameworks
                                            and Libraries</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/fe-tools-techniques.html"><span
                                            class="menu-item-text"><img src="../assets/icons/tools.png"
                                                alt="tools & techniques" width="20" height="20">
                                            FrontEnd Tools & Techniques</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown backend">
                            <a class="nav-link dropdown-toggle" href="../templates/be-auth-auth.html" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"><span class="menu-item-text"><img
                                        src="../assets/icons/backend.png" alt="BackEnd" width="20" height="20">
                                    BackEnd</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../templates/be-auth-auth.html"><span
                                            class="menu-item-text"><img src="../assets/icons/Authentication.png" alt="Authentication &
                                                Authorization page" width="20" height="20"> Authentication &
                                            Authorization</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/be-api-security-testing.html"><span
                                            class="menu-item-text"><img src="../assets/icons/api_icon_129131.png"
                                                alt="API Security and Testing page" width="20" height="20">
                                            API Security and Testing</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/be-ssr-caching.html"><span
                                            class="menu-item-text"><img src="../assets/icons/backend.png"
                                                alt="Server-Side Rendering (SSR) and Caching page" width="20"
                                                height="20">
                                            Server-Side Rendering (SSR) and Caching</span></a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/be-realtime-comm-websocket.html"><span
                                            class="menu-item-text"><img src="../assets/icons/api_icon_129131.png"
                                                alt="Real-Time Communication and WebSockets page" width="20"
                                                height="20">
                                            Real-Time Communication and WebSockets</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <!-- Main Section -->

    <main>
        <section id="advanced-javascript">
            <div class="container-fluid">
                <h1 class="category">Advanced Javascript</h1>
                <hr>
                <h2 class="subcategory">A. Web Workers</h2>
                <hr>
                <!-- 1. Basic Setup & Message Passing -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    1. Basic Setup & Message Passing
                                </h5>
                                <p class="card-text">
                                    Create a new web worker. Write a JavaScript file
                                    for the worker and instantiate it in the main script using new Worker('worker.js').
                                    Implement communication between the main thread and the web worker. Use postMessage
                                    and onmessage to send and receive messages.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/advanced-js.js"
                                        target="_blank">main-script.js</a> and <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/worker.js">worker.js</a>
                                    script for solution)
                                </h5>
                                <div class="card-text">
                                    <h6></h6><span id="myWorkerSent" style="color: green;"></span></h6>
                                    <h6><span id="myWorkerReceived"></span></h6>
                                    <h6><span id="errorMessage"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 2. Data Processing Task -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class=" card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">
                                    <h6><label for="csvFile">Enter CSV file that have atleast quantity & unit price
                                            columns:</label></h6>
                                    <input type="file" id="csvFile">
                                    <h6><span id="sendCSV"></span></h6>
                                    <h6><span id="csvResultTotal" style="color: brown;"></span></h6>
                                    <h6><span id="csvResultMaxQ" style="color: blue;"></span></h6>
                                    <h6><span id="csvResultMaxP" style="color: green;"></span></h6>
                                    <h6><span id="csvResultDupRemoved" style="color: violet;"></span></h6>
                                    <h6><span id="processCsvErrorMessage"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    2. Data Processing Task
                                </h5>
                                <p class="card-text">
                                    Entrust the web worker with a demanding computational task as follows:
                                    1. Data Loading: Load a sample dataset from a CSV file in the main script. The
                                    dataset <strong>MOST</strong> have "quantity" and "unit price" columns.
                                    2. Total Revenue Calculation (Web Worker): Determine the total revenue for each
                                    entry
                                    by multiplying the "quantity" and "unit price" columns.
                                    3. Price Statistics Computation (Web Worker): Compute the maximum and
                                    minimum values of the "quantity" and "unit price" columns.
                                    4. Results Transmission: Transmit the total revenue, quantity and price statistics
                                    back to the main thread for visualization.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 3. Boolean Operations -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    3. Boolean Operations
                                </h5>
                                <p class="card-text">
                                    Declare a boolean variable is_raining and assign it the value true.
                                    Declare another boolean variable is_sunny and assign it the value false.
                                    Check if it's raining AND sunny and store the result in a variable
                                    is_raining_and_sunny.
                                    Check if it's raining OR sunny and store the result in a variable
                                    is_raining_or_sunny.
                                    Negate the value of is_raining and store the result in a variable not_raining.
                                    Display the values of is_raining_and_sunny, is_raining_or_sunny, and not_raining.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">
                                    <h6>Is raining and sunny?: <span id="is_raining_and_sunny"></span></h6>
                                    <h6>Is raining or sunny?: <span id="is_raining_or_sunny"></span></h6>
                                    <h6>Not raining: <span id="not_raining"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 4. Variable Interactions -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class=" card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">
                                    <h6>Message: <span id="message"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    4. Variable Interactions
                                </h5>
                                <p class="card-text">
                                    Declare a string variable name and assign it a name of your choice.
                                    Declare an integer variable age and assign it your age.
                                    Concatenate name and age to create a message like "My name is [name] and I am [age]
                                    years
                                    old." and store it in a variable message.
                                    Display the value of message.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 5. Mixed Operations -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    5. Mixed Operations
                                </h5>
                                <p class="card-text">
                                    Declare a float variable price and assign it a value of 19.99.
                                    Declare an integer variable quantity and assign it a value of 5.
                                    Multiply price and quantity to calculate the total cost and store it in a variable
                                    total_cost.
                                    Convert total_cost to a string and concatenate it with a message like "The total
                                    cost is $"
                                    to create a complete sentence.
                                    Display the complete sentence.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Output (See <a
                                        href="https://github.com/scientistigwe/Full-Stack-Dev.-Challenge/blob/main/scripts/script.js"
                                        target="_blank">script.js</a> for details)
                                </h5>
                                <div class="card-text">
                                    <h6>Complete Sentence: <span id="completeSentence"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    <!-- Bootstrap JS Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Font Awesome JS Link -->
    <script src="https://kit.fontawesome.com/01058b62ac.js" crossorigin="anonymous"></script>

    <!-- Custom JS Link -->
    <script src="../scripts/advanced-js.js"></script>
</body>

</html>